options All -Indexes

RewriteEngine On

RewriteRule ^([-a-z]*)$ index.php?include=$1 [L]

RewriteRule ^([-a-z]*)-id-([0-9]*)$ index.php?include=$1&id=$2 [L]

RewriteRule ^([-a-z]*)-halaman-([0-9]*)$ index.php?include=$1&halaman=$2 [L]
